* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    height: 60px;
}

.container {
    display: flex;
    margin: 0 10%;
    align-items: center;
    padding: 50px 0;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 10%;
}

.logo {
    color: #f9faf8;
    font-size: 25px;
    font-weight: 900;
}

ul {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

li {
    list-style-type: none;
}

li a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    flex: 1 1 auto;
}


.title{
   color:#f9faf8;
   width: 50%;
   display: flex;
   flex-flow: column;
   align-items: flex-start;
}

.title h1 {
    font-size: 42px;
    flex: 1 1 auto;
    margin: 10px 0;
}

.title p {
    flex-wrap: wrap;
    margin: 10px 0;
    flex:1 1 auto;
}

.title button {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 7px 20px;
    color:#f9faf8;
    border: none;
    font-weight: bold;
    margin-top: 16px; 
    font-size: 14px;
    flex: 1 1 0;
}

.img {
    flex: 1 1 0;
    width: 50%;
    display: block;    
}

.img img {
    display: block;
    background-color: #f9faf8;
    height: 250px;
    width:300px;
    margin-left: auto;
}


.serv .container {
    display: flex;
    flex-direction: column;
}

.serv .container h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


.icon-c {
    display: flex;
    gap: 30px;
    
}

.icon-b {
    width: 170px ;
    height: 170px;
    border: 5px solid #3882f6;
    border-radius: 6px;
}

.icon-col {
    width: 170px;
    flex-wrap: warp;
}

.icon-col p{
    text-align: center;
    padding-top: 10px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container {
    display: flex;
    flex-direction: column;
}

.quote .container p i {
    font-size: 22px;
    font-weight: lighter;
    color: #1f2937;
}

.name{
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
    margin-top: 15px;
    color: #1f2937;
}

.action .container{
    justify-content: center;
}

.window {
    background-color: #3882f6;
    display: flex;
    padding: 30px 80px;
    border-radius: 6px;
    height: 100px;
    gap: 30px;
    width: 650px;
}

.text {
    flex: 2;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    padding: 5px 15px;
    font-weight: 700;
}