* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    height: 60px;
}

.container {
    display: flex;
    margin: 0 10%;
    align-items: center;
}

.header {
    height: 60px;
}

.logo {
    color: #f9faf8;
    font-size: 25px;
    font-weight: 900;
}

ul {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

li {
    list-style-type: none;
}

li a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    flex: 1 1 auto;
}

.hero-c {
    display: flex;
    height: 300px;
    flex: 1 1 0;
    gap: 50px;
}

.title{
   color:#f9faf8;
   width: 50%;
   display: flex;
   flex-flow: column;
   align-items: flex-start;
}

.title h1 {
    font-size: 42px;
}

.title p {
    flex-wrap: wrap;
    margin: 10px 0;
}

.title button {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 7px 20px;
    color:#f9faf8;
    border: none;
    font-weight: bold;
    margin-top: 16px;
    font-size: 14px;
}

.img {
    flex: 1 1 0;
    width: 50%;
    display: block;    
}

.img img {
    display: block;
    background-color: #f9faf8;
    height: 250px;
    width:300px;
    margin-left: auto;
}

.serv-c {
    display: flex;
    flex-direction: column;
}

.icon-c {
    display: flex;
}